<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Tracabilité Agricoles{% endblock %}</title>
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
      <link rel="stylesheet" href="{{ asset('css/mystyle.css') }}">
      <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" />
      <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ asset('bundles/tuto/css/fancybox/jquery.fancybox.css') }}">
      <link rel="stylesheet" href="{{ asset('css/flexslider.css') }}">
      <link rel="stylesheet" href="{{ asset('css/style.css') }}">
      <script src="{{ asset('js/jquery.min.js') }}"></script>
      <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% endblock %}
</head>
<body>
<div id="wrapper">
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="pull-right hidden-xs">
              {#<div>#}
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
              {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'Connexion'|trans({}, 'FOSUserBundle') }}</a>&nbsp;&nbsp;
                <a href="{{ path('fos_user_registration_register') }}">{{ 'Nouveau Compte'|trans({}, 'FOSUserBundle') }}</a>
              {% endif %}
              {#</div>#}

              {% if app.request.hasPreviousSession %}
              {% for type, messages in app.session.flashbag.all() %}
              {% for message in messages %}
          <div class="flash-{{ type }}">
              {{ message }}
          </div>
            {% endfor %}
            {% endfor %}
            {% endif %}

          </p>
            {#<p class="pull-right"><i class="fa fa-phone"></i>Tel No.(+001) 123-456-789</p>#}
        </div>

      </div>
    </div>
  </div>
  <!-- start header -->
  <header>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse ">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('home_page') }}">Acceuil</a></li>
            <li class="dropdown active">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Production <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('saisi_intrant') }}">Saisie Intrant</a></li>
                <li><a href="{{ path('calendrier_culturel') }}">Calendrier Cultural</a></li>
                <li><a href="{{ path('suivi_production') }}">Suivi de la Production</a></li>
                <li><a href="{{ path('recolte') }}">Recoltes</a></li>
              </ul>
            </li>
            <li><a href="{{ path('controle_cond') }}">Controle et Conditionnement</a></li>
            <li><a href="{{ path('exportation') }}">Exportations</a></li>
            <li><a href="{{ path('rejet') }}">FeedBack</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header><!-- end header -->
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">Tracabilité des produits Agricoles</h2>
        </div>
      </div>
    </div>
  </section>
  <section id="content">
    <section class="section-padding">
      <div class="container">
        <div class="row showcase-section">
          <div class="col-md-6">
            <img src="{{ asset('bundles/tuto/img/logos.jpg') }}" class="img-responsive brand">

          </div>
          <div class="container block">

            <div class="row">

              <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 pull-left ">

                {#  {% block body %}

                    <p class=" text-justify presentation lead">
                      La traçabilité agroalimentaire est l'application des principes de traçabilité à la filière agroalimentaire, afin d'atteindre des objectifs de sécurité sanitaire des aliments.

                      Elle vise à mieux qualifier les produits mis sur le marché, à une meilleure maîtrise des dangers et à abaisser les niveaux de risques. La traçabilité est en effet nécessaire pour remonter à la source d'un problème d'intoxication alimentaire ou d'une fraude.

                      Elle est de plus en plus imposée par les certifications.

                    </p>

                  {% endblock %}#}
                  {% block contenu_user %}

                  {% endblock contenu_user %}
                <div>
                    {% block fos_user_content %}


                    {% endblock %}

                </div>

              </div>
            </div>
          </div>
    </section>
    <div class="container">

      <div class="about">





        <br>
        <!-- Our Team starts -->

        <!-- Heading -->

        <br>

        <!-- Our team starts -->



      </div>
  </section>
    {#  <footer>

      </footer>#}
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}
  <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
  <script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
  <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('js/jquery.fancybox.pack.js') }}"></script>
  <script src="{{ asset('js/jquery.fancybox-media.js') }}"></script>
  <script src="{{ asset('js/jquery.flexslider.js') }}"></script>
  <script src="{{ asset('js/modernizr.custom.js') }}"></script>
  <script src="{{ asset('js/jquery.isotope.min.js') }}"></script>
  <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
  <script src="{{ asset('js/animate.js') }}"></script>
  <script src="{{ asset('js/custom.js') }}"></script>
  <script src="{{ asset('js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>















