{% extends 'base.html.twig' %}

{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Form Wizard</h4> </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="http://wrappixel.com/templates/pixeladmin/" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Now</a>
            <ol class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">Form Wizard</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel-group wiz-aco" id="accordion" role="tablist" aria-multiselectable="true">
                {{ form_start(form,{'attr':{'role':'form'}}) }}
                <div class="panel panel-success">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-primary">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                               IDENTIFICATION DE L'OPERATEUR
                            </a>
                        </h4> </div>
                    <div id="collapseOne" class="panel-collapse collapse in panel-body" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Nom</label>
                                        {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
                                        <span class="help-block"> </span> </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Prénom</label>
                                        {{ form_widget(form.prenom,{'attr':{'class':'form-control'}}) }}
                                         <span class="help-block">  </span> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Statut Légal</label>
                                        {{ form_widget(form.statutLegal,{'attr':{'class':'form-control'}}) }}
                                        <span class="help-block">  </span> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Addresse</label>
                                        {{ form_widget(form.addresse,{'attr':{'class':'form-control'}}) }}
                                        <span class="help-block"> </span> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">NINEA</label>
                                        {{ form_widget(form.ninea,{'attr':{'class':'form-control'}}) }}
                                        <span class="help-block"> </span> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Siège Social</label>
                                        {{ form_widget(form.siegeSocial,{'attr':{'class':'form-control'}}) }}
                                        <span class="help-block"> </span> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Règion</label>
                                        {{ form_widget(form.region,{'attr':{'class':'form-control'}}) }}
                                        <span class="help-block"> </span> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Ville</label>
                                        {{ form_widget(form.ville,{'attr':{'class':'form-control'}}) }}
                                        <span class="help-block"> </span> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Département</label>
                                        {{ form_widget(form.departement,{'attr':{'class':'form-control'}}) }}
                                        <span class="help-block"> </span> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Commune</label>
                                        {{ form_widget(form.commune,{'attr':{'class':'form-control'}}) }}
                                        <span class="help-block"> </span> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Arrondissement</label>
                                        {{ form_widget(form.arrondissement,{'attr':{'class':'form-control'}}) }}
                                        <span class="help-block"> </span> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Village</label>
                                        {{ form_widget(form.village,{'attr':{'class':'form-control'}}) }}
                                        <span class="help-block"> </span> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Mobile</label>
                                        {{ form_widget(form.numTel,{'attr':{'class':'form-control'}}) }}
                                        <span class="help-block">  </span> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Fixe</label>
                                        {{ form_widget(form.numFixe,{'attr':{'class':'form-control'}}) }}
                                        <span class="help-block"> </span> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Fax</label>
                                        {{ form_widget(form.fax,{'attr':{'class':'form-control'}}) }}
                                        <span class="help-block">  </span> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Email</label>
                                        {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                                        <span class="help-block">  </span> </div>
                                </div>
                                <div class="col-md-6">

                                </div>

                                <!--/span-->
                            </div>


                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-primary">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Représentant Légal
                            </a>
                        </h4> </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Prénom Représentant</label>
                                    {{ form_widget(form.prenomRep,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Nom du Représentant</label>
                                    {{ form_widget(form.nomRep,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Adresse du Représentant</label>
                                    {{ form_widget(form.addresseRep,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Fonction du Représentant</label>
                                    {{ form_widget(form.fonctionRep,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Téléphone Mobile</label>
                                    {{ form_widget(form.mobileRep_,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Téléphone Fixe du Représentant</label>
                                    {{ form_widget(form.fixeRep,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Faxe du Representant </label>
                                    {{ form_widget(form.faxeRep,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Mail du Representant </label>
                                    {{ form_widget(form.emailRep,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-primary">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Responsable ou Manager
                            </a>
                        </h4> </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">


                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Nom du Manager</label>
                                    {{ form_widget(form.nomManager,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Prénom du Manager </label>
                                    {{ form_widget(form.prenomManager,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Titre du Manager </label>
                                    {{ form_widget(form.titreManager,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Téléphone du Manager </label>
                                    {{ form_widget(form.telManager,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Email du Manager </label>
                                    {{ form_widget(form.emailManager,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-primary">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Activité de Production
                            </a>
                        </h4> </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            <div class="form-group  col-sm-2">
                                <div class="form-group ">
                                    <label class="control-label">Production</label>
                                    {{ form_widget(form.production,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="form-group  col-sm-2">
                                <div class="form-group ">
                                    <label class="control-label">Exportation</label>
                                    {{ form_widget(form.exportation,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="form-group  col-sm-2">
                                <div class="form-group ">
                                    <label class="control-label">Prestation</label>
                                    {{ form_widget(form.prestation,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="form-group  col-sm-2">
                                <div class="form-group ">
                                    <label class="control-label">Vulgarisation</label>
                                    {{ form_widget(form.vulgarisation,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="form-group  col-sm-2">
                                <div class="form-group ">
                                    <label class="control-label">Bord de Champ</label>
                                    {{ form_widget(form.bordChamp,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="form-group  col-sm-2">
                                <div class="form-group ">
                                    <label class="control-label">Europe</label>
                                    {{ form_widget(form.europe,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="form-group  col-sm-2">
                                <div class="form-group ">
                                    <label class="control-label">Régie</label>
                                    {{ form_widget(form.regie,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="form-group  col-sm-2 col-md-2">
                                <div class="form-group ">
                                    <label class="control-label">Conditionnement</label>
                                    {{ form_widget(form.conditionnement,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="form-group  col-sm-2 col-md-2">
                                <div class="form-group ">
                                    <label class="control-label">En Station</label>
                                    {{ form_widget(form.enStation,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                            <div class="form-group  col-sm-2 col-md-2">
                                <div class="form-group ">
                                    <label class="control-label">Autre</label>
                                    {{ form_widget(form.autresr,{'attr':{'class':'form-control'}}) }}
                                    <span class="help-block">  </span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-primary">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Site de Production
                            </a>
                        </h4> </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            <table id="mainTable" class="table editable-table table-bordered table-striped m-b-0">

                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading" role="tab" id="headingSix">
                        <h4 class="panel-primary">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                              Calendrier de Production
                            </a>
                        </h4> </div>
                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body">


                            <table id="mainTable1" class="table editable-table table-bordered table-striped m-b-0">




                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading" role="tab" id="headingSeven">
                        <h4 class="panel-primary">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                               Site de Conditionnement
                            </a>
                        </h4> </div>
                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                        <div class="panel-body">

                            <table id="mainTable2" class="table editable-table table-bordered table-striped m-b-0">

                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading" role="tab" id="headingHeight">
                        <h4 class="panel-primary">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseHeight" aria-expanded="false" aria-controls="collapseHeight">
                                Certification Privée détenue
                            </a>
                        </h4> </div>
                    <div id="collapseHeight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingHeight">
                        <div class="panel-body">

                            {#  <div class="form-group col-md-6 col-sm-6">
                             r     {{ form_errors(form.email) }}
                                  {{ form_widget(form.email,{'attr':{'class':'','placeholder':'Email'}}) }}
                              </div>#}
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading" role="tab" id="headingNine">
                        <h4 class="panel-primary">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                Gestion de la Qualité
                            </a>
                        </h4> </div>
                    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                        <div class="panel-body">
                           {# <div class="row">
                                <div class="col-lg-2 col-md-2 col-xs-6">
                                    <label class="control-label">Système de gestion de la qualité</label>
                                    <label class="radio-inline p-0">
                                        <div class="radio radio-info">
                                            <input type="radio" name="gestQualiteOui" id="radio1" >
                                            <label for="radio1">Oui</label>
                                        </div>
                                    </label>
                                    <label class="radio-inline">
                                        <div class="radio radio-info">
                                            <input type="radio" name="gestQualiteNon" id="radio2" >
                                            <label for="radio2">Non</label>
                                        </div>

                                    </label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-6">
                                    <div class="checkbox">
                                        <input id="checkbox0" name="gestionInterne" type="checkbox">
                                        <label for="checkbox0"> Gestion en interne </label>
                                    </div>
                                    <div class="checkbox">
                                        <input id="checkbox1" name ="consultant" type="checkbox">
                                        <label for="checkbox1"> Consultant </label>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-6">
                                    <div class="checkbox">
                                        <input id="checkbox3" name="autre" type="checkbox">
                                        <label for="checkbox3"> Autre </label>
                                    </div>
                                    <div class="text">
                                        <label for="text"> Note Autres </label>
                                        <input id="text" name="noteAutre" type="text">

                                    </div>
                                </div>
                                <!--/span-->
                            </div>#}
                        </div>
                    </div>
                </div>
                <div class="panel" >
                <button class="btn btn-success  col-sm-2"  type="submit" align="center" >SOUMETTTRE
                </button></div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}